<a href="https://colab.research.google.com/github/marcosw1998/Data-Science/blob/main-mwac/Project_ee2/predict_covid_spends_PE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Análise dos custos do governo de Pernambuco - BR em relação à Covid-19**
* Projeto corresponde a entrega parcial para avaliação na cadeira eletiva IF697 - Intro. a Ciência dos Dados
* Autores: Igor Silva e Marcos Cavalcanti
* Conjunto de dados públicos retirados das seguintes fontes:
  * [Portal da Transparência TCU](http://www.portaltransparencia.gov.br/coronavirus)
  * [Prefeitura do Recife](http://dados.recife.pe.gov.br/dataset?tags=sa%C3%BAde)
  * [Brasil.io](https://brasil.io/dataset/covid19/caso_full/)

## **Por quê o tema?**

* Interesse em entender e expor de forma clara os gastos públicos
* Analisar distribuição de gastos
* Covis-19 é um tema importante e merece muita atenção, pois tem feito muitas vítimas e mudado a forma como a sociedade pensa e se organiza
* Entender a distribuição de gastos é uma boa forma de tentar corrigir erros e minimizar danos futuros na economia e na sociedade

## **Carregando as bibliotecas**

  * Utilizaremos a biblioteca ***`Pandas`*** para trabalhar sobre os dados  e a biblioteca ***`Numpy`*** para operações sobre os datasets.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set_theme()

## **Carregando os dados**

  * Utilizaremos a lib ***`requests`*** para carregar os dados em formato csv e em seguida convertê-los em JSON
  * Referência: https://www.nylas.com/blog/use-python-requests-module-rest-apis/ 
  * Instalação, caso o python não tenha instalado nativamente:
     ```
      !pip install requests
      ```

In [ ]:
# !pip install requests

### Portal da transparência

* O portal da transparência permite que sejam baixados apenas 1000 registros por vez, portanto decidimos por baixar 2 datasets diferentes e depois fazermos a junção. Os dados são referentes a algumas cidades de Pernambuco 
(Recife, Jaboatão, Olinda, Paulista, Caruaru, Garanhuns, Petrolina, Arcoverde, Serra Talhada, Buíque)

In [ ]:
invest_covidPe = pd.read_csv("https://raw.githubusercontent.com/marcosw1998/Data-Science/main-mwac/Datasets/covid-pe.csv",encoding = "utf-8")
invest_covidPe2 = pd.read_csv("https://raw.githubusercontent.com/marcosw1998/Data-Science/main-mwac/Datasets/transferencias_coronavirus.csv",encoding = "utf-8")

In [ ]:
#Validando os dados do dataset invest_covidPe
print('Dataset 1',invest_covidPe.shape)
invest_covidPe.sort_values("Município").head()

Dataset 1 (561, 12)

    Mês/Ano  ... Valor Transferido
182  nov/20  ...        486.515.00
178  nov/20  ...          7.897.02
179  nov/20  ...          2.837.48
87   nov/20  ...          8.427.56
181  nov/20  ...          2.274.59

[5 rows x 12 columns]

In [ ]:
#Validando os dados do dataset invest_covidPe2
print('Dataset 2',invest_covidPe2.shape)
invest_covidPe2.sort_values("Município").head()

Dataset 2 (140, 10)

    Mês/Ano                               Tipo  ... Valor Transferido Unnamed: 9
98  12/2020  Legais. Voluntárias e Específicas  ...     R$ 134.639.00        NaN
41  05/2020  Legais. Voluntárias e Específicas  ...     R$ 470.809.62        NaN
42  11/2020  Legais. Voluntárias e Específicas  ...     R$ 355.594.00        NaN
32  04/2020  Legais. Voluntárias e Específicas  ...     R$ 761.895.71        NaN
56  08/2020  Legais. Voluntárias e Específicas  ...     R$ 218.971.54        NaN

[5 rows x 10 columns]

*Podemos perceber que o Dataset **invest_covidPe** possui mais colunas que o Dataset **invest_covidPe2**.  Também notamos que o Dataset invest_covidPe2 possui uma coluna com dados Nan, vamos tratar disso no pré processamento antes de fazer a concatenação dos dois Datasets*

### Dados abertos - Prefeitura do Recife

In [ ]:
import requests

dados_pref_rmr = requests.get("http://dados.recife.pe.gov.br/dataset/6c77a814-7161-4eb5-9662-234642dc8cc1/resource/63376b8c-0271-42eb-a88b-cc75c1c3f3fc/download/metadados-hospitais.json").json()

### Dados de casos de Covid-19 por todo o estado de Pernambuco. 
Os valores estão atualizados até o dia 17/03/2021 e foram buscados através do Brasil.io

In [ ]:
covidPeCases = pd.read_csv("https://raw.githubusercontent.com/marcosw1998/Data-Science/main-mwac/Datasets/covid19-1703-casos.csv",encoding = "utf-8")
print(covidPeCases.shape)
covidPeCases.sort_values("city").head()

(187, 16)

   epidemiological_week        date  ...  is_last is_repeated
1                202111  2021-03-15  ...     True       False
2                202111  2021-03-15  ...     True       False
3                202111  2021-03-15  ...     True       False
4                202111  2021-03-15  ...     True       False
7                202111  2021-03-15  ...     True       False

[5 rows x 16 columns]

## **Pré Processamento**
  * Junção de datasets em Dataframe Pandas
  * Tratamento de dados ```NaN```/```null``` ou corrompidos
  * Conversão de tipos
  * Transformação e identificação de dados categóricos
  * Remoção de ***Outliers*** Multivariado

### **Tratamento dos dados de Gastos Públicos**

In [ ]:
# Verificando se existem registros duplicados
print("Número de registros duplicados")
print("Dataset 1",len(invest_covidPe[invest_covidPe.duplicated()]))
print("Dataset 2",len(invest_covidPe2[invest_covidPe2.duplicated()]))

Número de registros duplicados
Dataset 1 0
Dataset 2 0

In [ ]:
#Checando se temos valores Nan
print('Dataset 1',invest_covidPe.isnull().sum())
print('Dataset 1',invest_covidPe2.isnull().sum())

Dataset 1 Mês/Ano                  0
Tipo                     0
Tipo de Favorecido       0
UF                       0
Nome do Favorecido       0
CPF/CNPJ                 0
Município                0
Função                   0
Programa Orçamentário    0
Ação Orçamentária        0
Linguagem Cidadã         0
Valor Transferido        0
dtype: int64
Dataset 1 Mês/Ano                    0
Tipo                       0
Ação Orçamentária          0
Programa Orçamentário      0
Função                     0
Tipo de Favorecido         0
UF                         0
Município                  0
Valor Transferido          0
Unnamed: 9               140
dtype: int64

> Remoção colunas que não fazem parte do dataset invest_covidPe2 e que não influem sobre os nossos estudos (Nome do favorecido, CPF/CNPJ, Linguagem Cidadã)

>```invest_covidPe = invest_covidPe.dropna(axis=1, how='all')```

In [ ]:
cols = [4,5,10]
invest_covidPe.drop(invest_covidPe.columns[cols],axis=1,inplace=True)
invest_covidPe.sort_values("Município").head()

    Mês/Ano  ... Valor Transferido
182  nov/20  ...        486.515.00
178  nov/20  ...          7.897.02
179  nov/20  ...          2.837.48
87   nov/20  ...          8.427.56
181  nov/20  ...          2.274.59

[5 rows x 9 columns]

> Remoção coluna que tem todos os valores Nan

In [ ]:
invest_covidPe2.dropna(axis=1, how='all',inplace=True)
invest_covidPe2.sort_values("Município").head()

    Mês/Ano                               Tipo  ...  Município Valor Transferido
98  12/2020  Legais. Voluntárias e Específicas  ...  ARCOVERDE     R$ 134.639.00
41  05/2020  Legais. Voluntárias e Específicas  ...  ARCOVERDE     R$ 470.809.62
42  11/2020  Legais. Voluntárias e Específicas  ...  ARCOVERDE     R$ 355.594.00
32  04/2020  Legais. Voluntárias e Específicas  ...  ARCOVERDE     R$ 761.895.71
56  08/2020  Legais. Voluntárias e Específicas  ...  ARCOVERDE     R$ 218.971.54

[5 rows x 9 columns]

> Retirando prefixo numérico e caracteres especiais dos valores da categoria 'Função'

In [ ]:
invest_covidPe_funcao = invest_covidPe2['Função'].map(lambda words: str(words[5:]))
invest_covidPe2['Função'].update(invest_covidPe_funcao)
invest_covidPe2['Função'].unique()

array(['Educação', 'Saúde', 'Assistência social', 'Ciência e Tecnologia'],
      dtype=object)

> Confirmando que as colunas foram removidas e agora os 2 datasets possuem a mesma quantidade de colunas

In [ ]:
print('Dataset 1',invest_covidPe.shape)
print('Dataset 2',invest_covidPe2.shape)

Dataset 1 (561, 9)
Dataset 2 (140, 9)

> Fazendo a concatenação dos Dataframes, o resultado final de linhas é igual ao somatório de linhas entre ambos os Datasets

In [ ]:
invest_covidPe = invest_covidPe.append(invest_covidPe2, ignore_index=True)

> Filtragem de gastos com a saúde e retirada das colunas **Tipo**, **UF**, **Programa Orçamentário** e **Função** por não conterem dados variados.

In [ ]:
# Filtragem

invest_covidPe = invest_covidPe[invest_covidPe['Função'] == 'Saúde']

# Drop colunas

invest_covidPe.drop({'Tipo',\
                     'UF',\
                     'Programa Orçamentário', \
                     'Função'},\
                    axis=1,\
                    inplace=True \
                    )
invest_covidPe

     Mês/Ano  ... Valor Transferido
0     mar/20  ...         60.000.00
1     abr/20  ...      1.174.944.27
2     abr/20  ...      4.130.446.89
3     abr/20  ...      3.830.136.03
4     abr/20  ...      3.662.675.00
..       ...  ...               ...
695  07/2020  ...   R$ 4.995.000.00
696  04/2020  ...   R$ 7.327.021.87
697  10/2020  ...   R$ 3.500.000.00
698  07/2020  ...   R$ 8.676.053.00
699  07/2020  ...   R$ 1.850.000.00

[149 rows x 5 columns]

Renomeando colunas

In [ ]:
invest_covidPe = invest_covidPe.rename(columns={'Mês/Ano': 'data_hora', \
                                                'Município': 'municipio', \
                                                'Tipo de Favorecido': 'tipo_favorecido', \
                                                'Ação Orçamentária': 'acao_orcamentaria', \
                                                'Valor Transferido': 'gastos' \
                                                })
invest_covidPe.head(3)

  data_hora  ...        gastos
0    mar/20  ...     60.000.00
1    abr/20  ...  1.174.944.27
2    abr/20  ...  4.130.446.89

[3 rows x 5 columns]

#### **Conversão de tipos das colunas**

  * Valor Transferido (rename -> gastos): ```string``` -> ```float```

  * Mês/Ano (rename -> data_hora): ```string``` -> ```pandas.Datetime```

  * Dados categóricos: ```object``` -> ```category```

In [ ]:
invest_covidPe.dtypes

data_hora            object
tipo_favorecido      object
municipio            object
acao_orcamentaria    object
gastos               object
dtype: object

##### **Valor Transferido**
```object``` -> ```float64```

In [ ]:
# Tratamento e conversão do CSV-String para float
invest_covidPe['valores_transferidos'] = invest_covidPe['gastos'].apply(lambda words: words.replace('R$ ', ''))
valores_transferidos = invest_covidPe['valores_transferidos'].map(lambda words: float(words[:-3].replace('.','') + words[-3:]))
valores_transferidos = valores_transferidos.astype('float64')
#valores_transferidos = valores_transferidos.astype(float)

In [ ]:
invest_covidPe.head(3)

  data_hora tipo_favorecido  ...        gastos valores_transferidos
0    mar/20   Fundo Público  ...     60.000.00            60.000.00
1    abr/20   Fundo Público  ...  1.174.944.27         1.174.944.27
2    abr/20   Fundo Público  ...  4.130.446.89         4.130.446.89

[3 rows x 6 columns]

In [ ]:
# Atualiza o dataset principal
invest_covidPe['gastos'].update(valores_transferidos)
invest_covidPe.drop('valores_transferidos',axis=1,inplace=True)
invest_covidPe = invest_covidPe.infer_objects()
invest_covidPe.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 0 to 699
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   data_hora          149 non-null    object
 1   tipo_favorecido    149 non-null    object
 2   municipio          149 non-null    object
 3   acao_orcamentaria  149 non-null    object
 4   gastos             149 non-null    float64
dtypes: float64(1), object(4)
memory usage: 7.0+ KB

##### **Data (timestamp)**
```object``` -> ```pandas.Datetime```

Obs.: Apenas necessário para o caso de análise de séries temporais.

In [ ]:
# Transformando os dados da coluna data_hora em pandas.Datetime
invest_covidPe['data_hora'] = invest_covidPe['data_hora'].astype('string')
invest_covidPe.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 0 to 699
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   data_hora          149 non-null    string
 1   tipo_favorecido    149 non-null    object
 2   municipio          149 non-null    object
 3   acao_orcamentaria  149 non-null    object
 4   gastos             149 non-null    float64
dtypes: float64(1), object(3), string(1)
memory usage: 7.0+ KB

In [ ]:
meses = {'mar/20' : '2020-03-10', \
         'abr/20' : '2020-04-10', \
         'mai/20' : '2020-05-10', \
         'jun/20' : '2020-06-10', \
         'jul/20' : '2020-07-10', \
         'ago/20' : '2020-08-10', \
         'set/20' : '2020-09-10', \
         'out/20' : '2020-10-10', \
         'nov/20' : '2020-11-10', \
         'dez/20' : '2020-12-10', \
         '03/2020' : '2020-03-10', \
         '04/2020' : '2020-04-10', \
         '05/2020' : '2020-05-10', \
         '06/2020' : '2020-06-10', \
         '07/2020' : '2020-07-10', \
         '08/2020' : '2020-08-10', \
         '09/2020' : '2020-09-10', \
         '10/2020' : '2020-10-10', \
         '11/2020' : '2020-11-10', \
         '12/2020' : '2020-12-10'
         }

invest_covidPe['data_hora'] = invest_covidPe['data_hora'].apply(lambda dates: dates.replace(dates, meses[dates]))

invest_covidPe['data_hora'].unique()

array(['2020-03-10', '2020-04-10', '2020-05-10', '2020-06-10',
       '2020-07-10', '2020-08-10', '2020-09-10', '2020-10-10',
       '2020-11-10', '2020-12-10'], dtype=object)

In [ ]:
# convert the 'Date' column to datetime format
invest_covidPe['data_hora'] = pd.to_datetime(invest_covidPe['data_hora'])

# Check the format of 'Date' column
invest_covidPe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 0 to 699
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   data_hora          149 non-null    datetime64[ns]
 1   tipo_favorecido    149 non-null    object
 2   municipio          149 non-null    object
 3   acao_orcamentaria  149 non-null    object
 4   gastos             149 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 7.0+ KB

##### **Definindo dados categóricos**

Conversão de dados categóricos
> ```object``` -> ```category```

In [ ]:
invest_covidPe['data_hora'] = invest_covidPe['data_hora'].astype('category')
invest_covidPe['municipio'] = invest_covidPe['municipio'].astype('category')
invest_covidPe['tipo_favorecido'] = invest_covidPe['tipo_favorecido'].astype('category')
invest_covidPe['acao_orcamentaria'] = invest_covidPe['acao_orcamentaria'].astype('category')
invest_covidPe.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 0 to 699
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   data_hora          149 non-null    category
 1   tipo_favorecido    149 non-null    category
 2   municipio          149 non-null    category
 3   acao_orcamentaria  149 non-null    category
 4   gastos             149 non-null    float64
dtypes: category(4), float64(1)
memory usage: 3.9 KB

### **Tratamento dos dados de casos de covid-19 em PE**

Filtragem de categorias

In [ ]:
covidPeCases = covidPeCases.filter(items=['city', \
                                         'last_available_confirmed', \
                                         'last_available_deaths', \
                                         'last_available_death_rate', \
                                         'estimated_population' \
                                         ])
covidPeCases

                       city  ...  estimated_population
0                       NaN  ...             9616621.0
1              Abreu e Lima  ...              100346.0
2     Afogados da Ingazeira  ...               37404.0
3                   Afrânio  ...               19810.0
4                 Agrestina  ...               25065.0
..                      ...  ...                   ...
182       Vertente do Lério  ...                7571.0
183               Vertentes  ...               20954.0
184                Vicência  ...               32772.0
185  Vitória de Santo Antão  ...              139583.0
186                   Xexéu  ...               14757.0

[187 rows x 5 columns]

Renomeação de colunas

In [ ]:
covidPeCases = covidPeCases.rename(columns={"city": "municipio", \
                                           "last_available_confirmed": "casos_confirmados", \
                                           "last_available_deaths": "mortes_confirmadas", \
                                           "last_available_death_rate": "taxa_mortalidade", \
                                           "estimated_population": "pop_estimada" \
                                           })
covidPeCases

                  municipio  casos_confirmados  ...  taxa_mortalidade  pop_estimada
0                       NaN             323176  ...            0.0356     9616621.0
1              Abreu e Lima               1700  ...            0.0935      100346.0
2     Afogados da Ingazeira               2478  ...            0.0141       37404.0
3                   Afrânio                578  ...            0.0156       19810.0
4                 Agrestina                865  ...            0.0416       25065.0
..                      ...                ...  ...               ...           ...
182       Vertente do Lério                156  ...            0.0128        7571.0
183               Vertentes                408  ...            0.0123       20954.0
184                Vicência                431  ...            0.0371       32772.0
185  Vitória de Santo Antão               3038  ...            0.0612      139583.0
186                   Xexéu                344  ...            0.0523       14757.0

[187 rows x 5 columns]

Filtrar cidades do dataset de Gastos públicos

In [ ]:
#Guardando uma cópia dos dados de todas as cidades
oldCovidPeCases = covidPeCases

#Filtrando as cidades que selecionamos os gastos no portal da transparência
cities = ['Arcoverde', \
          'Buíque', \
          'Caruaru', \
          'Garanhuns', \
          'Jaboatão dos Guararapes', \
          'Olinda', \
          'Paulista', \
          'Petrolina', \
          'Recife', \
          'Serra Talhada']

covidPeCases = covidPeCases[covidPeCases.municipio.isin(cities)]
covidPeCases

                   municipio  casos_confirmados  ...  taxa_mortalidade  pop_estimada
14                 Arcoverde               4281  ...            0.0203       74822.0
30                    Buíque               1436  ...            0.0160       58919.0
45                   Caruaru              17187  ...            0.0264      365278.0
67                 Garanhuns               7250  ...            0.0185      140577.0
89   Jaboatão dos Guararapes              19966  ...            0.0548      706867.0
113                   Olinda              14581  ...            0.0435      393115.0
124                 Paulista               7154  ...            0.0738      334376.0
128                Petrolina              18239  ...            0.0115      354317.0
134                   Recife              78117  ...            0.0406     1653461.0
160            Serra Talhada               7341  ...            0.0143       86915.0

[10 rows x 5 columns]

In [ ]:
covidPeCases.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 14 to 160
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   municipio           10 non-null     object
 1   casos_confirmados   10 non-null     int64
 2   mortes_confirmadas  10 non-null     int64
 3   taxa_mortalidade    10 non-null     float64
 4   pop_estimada        10 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 480.0+ bytes

In [ ]:
covidPeCases['municipio'] = covidPeCases['municipio'].apply(lambda city: city.upper())
covidPeCases['municipio'].unique()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

array(['ARCOVERDE', 'BUÍQUE', 'CARUARU', 'GARANHUNS',
       'JABOATÃO DOS GUARARAPES', 'OLINDA', 'PAULISTA', 'PETROLINA',
       'RECIFE', 'SERRA TALHADA'], dtype=object)

In [ ]:
covidPeCases['municipio'] = covidPeCases['municipio'].astype('category')
covidPeCases['id'] = covidPeCases['municipio'].cat.codes
covidPeCases.index = covidPeCases['id']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
covidPeCases

                  municipio  casos_confirmados  ...  pop_estimada  id
id                                              ...
0                 ARCOVERDE               4281  ...       74822.0   0
1                    BUÍQUE               1436  ...       58919.0   1
2                   CARUARU              17187  ...      365278.0   2
3                 GARANHUNS               7250  ...      140577.0   3
4   JABOATÃO DOS GUARARAPES              19966  ...      706867.0   4
5                    OLINDA              14581  ...      393115.0   5
6                  PAULISTA               7154  ...      334376.0   6
7                 PETROLINA              18239  ...      354317.0   7
8                    RECIFE              78117  ...     1653461.0   8
9             SERRA TALHADA               7341  ...       86915.0   9

[10 rows x 6 columns]

### **Remoção de outliers multivariado**
> Método utilizado:
  * Local Outlier Factor

> Conjunto:
  * ```investCovidPE```

Categorizando Gastos públicos

Método para vincular os dados de municípios entre os dois Conjuntos de Dados

In [ ]:
def categorizar_municipio(city):
  return covidPeCases[covidPeCases['municipio'] == str(city)].index.values.astype(int)[0]

In [ ]:
invest_covidPe['municipio'] = invest_covidPe['municipio'].map(lambda city: city.replace(city, str(categorizar_municipio(city))))
invest_covidPe['tipo_favorecido'] = invest_covidPe['tipo_favorecido'].cat.codes
invest_covidPe['acao_orcamentaria'] = invest_covidPe['acao_orcamentaria'].cat.codes

In [ ]:
invest_covidPe

     data_hora  tipo_favorecido municipio  acao_orcamentaria      gastos
0   2020-03-10                1         8                  1    60000.00
1   2020-04-10                1         3                  1  1174944.27
2   2020-04-10                1         7                  1  4130446.89
3   2020-04-10                1         5                  1  3830136.03
4   2020-04-10                1         2                  1  3662675.00
..         ...              ...       ...                ...         ...
695 2020-07-10                1         3                  0  4995000.00
696 2020-04-10                1         4                  0  7327021.87
697 2020-10-10                1         8                  0  3500000.00
698 2020-07-10                1         7                  0  8676053.00
699 2020-07-10                1         1                  0  1850000.00

[149 rows x 5 columns]

#### **Local Outlier Factor**

In [ ]:
invest_covidPe_lof = invest_covidPe
print("Quantidade de linhas: " + str(len(invest_covidPe)))

Quantidade de linhas: 149

In [ ]:
from sklearn.neighbors import LocalOutlierFactor
clf = LocalOutlierFactor(n_neighbors=10)

In [ ]:
scores = clf.fit_predict(invest_covidPe_lof)

In [ ]:
# Valor de LOF
-1*clf.negative_outlier_factor_

array([6.45035129e+08, 9.99337108e-01, 1.02823943e+00, 9.67542984e-01,
       9.73448724e-01, 1.39456792e+00, 5.17243913e+00, 9.81013671e-01,
       9.93862810e-01, 9.78314272e-01, 1.05344665e+00, 9.95590425e-01,
       1.59955779e+00, 9.67116893e-01, 9.99760949e-01, 1.01641878e+00,
       1.03832113e+00, 9.67116893e-01, 9.89410684e-01, 9.57459611e-01,
       1.02792102e+00, 1.00141792e+00, 1.55029210e+00, 1.45592367e+00,
       9.63090266e-01, 9.85558422e-01, 9.90336209e-01, 9.91499287e-01,
       1.10497664e+00, 1.19882840e+01, 9.94895295e-01, 1.02400123e+00,
       9.67633491e-01, 1.03365694e+00, 5.54851150e+00, 3.61718092e+00,
       2.43899425e+08, 2.43899425e+08, 2.43899425e+08, 2.43899425e+08,
       2.57028426e+00, 1.00861523e+00, 9.46835781e-01, 1.84268216e+01,
       1.01711760e+00, 1.43149659e+01, 9.99623797e-01, 9.12772098e-01,
       1.39781120e+00, 2.23936639e+00, 2.99073704e+00, 1.03452886e+00,
       1.72115960e+00, 1.30993458e+00, 2.89224958e+00, 1.94006703e+00,
       1.05270704e+00, 2.90774754e+00, 9.31690694e-01, 1.39781120e+00,
       1.01641878e+00, 9.06836865e-01, 9.78314272e-01, 2.43899425e+08,
       1.08652337e+00, 1.94006703e+00, 1.03452886e+00, 2.89224958e+00,
       1.10497664e+00, 1.55029210e+00, 9.91730597e-01, 1.05270704e+00,
       9.95590425e-01, 9.99623797e-01, 9.73448724e-01, 1.03832113e+00,
       9.73010413e-01, 9.90852441e-01, 6.45035129e+08, 9.67633491e-01,
       9.99337108e-01, 9.90907394e-01, 1.19882840e+01, 9.93862810e-01,
       1.84268216e+01, 1.01963347e+00, 9.57459611e-01, 5.17243913e+00,
       2.57028426e+00, 2.83851196e+00, 9.72406284e-01, 1.04095263e+00,
       1.72115960e+00, 1.03365694e+00, 9.81013671e-01, 3.61718092e+00,
       1.01421175e+00, 9.94895295e-01, 1.01337194e+00, 9.85558422e-01,
       9.67116893e-01, 1.08275163e+00, 9.90336209e-01, 9.78314272e-01,
       1.01585508e+00, 2.91177219e+00, 2.23936639e+00, 1.45592367e+00,
       9.99760949e-01, 1.01409713e+00, 9.69453006e-01, 9.31690694e-01,
       9.67116893e-01, 1.59955779e+00, 1.43149659e+01, 1.93612039e+00,
       1.30993458e+00, 2.43899425e+08, 1.01711760e+00, 1.02393021e+00,
       1.22671682e+00, 2.99073704e+00, 9.67542984e-01, 9.82973257e-01,
       1.02459212e+00, 1.02093172e+00, 9.68781257e-01, 1.02823943e+00,
       9.12772098e-01, 9.72557748e-01, 2.43899425e+08, 9.31735073e-01,
       9.46835781e-01, 9.54843785e-01, 5.54851150e+00, 2.90774754e+00,
       1.05344665e+00, 1.00141792e+00, 1.52519301e+00, 9.91499287e-01,
       1.02400123e+00, 1.00861523e+00, 9.63090266e-01, 9.78314272e-01,
       1.02792102e+00, 1.39456792e+00, 2.43899425e+08, 9.89410684e-01,
       9.74920973e-01])

In [ ]:
scores

array([-1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,
        1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,
       -1, -1, -1, -1, -1, -1, -1,  1,  1, -1,  1, -1,  1,  1,  1, -1, -1,
        1, -1,  1, -1, -1,  1, -1,  1,  1,  1,  1,  1, -1,  1, -1,  1, -1,
        1, -1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1, -1,  1, -1,
        1,  1, -1, -1, -1,  1,  1, -1,  1,  1, -1,  1,  1,  1,  1,  1,  1,
        1,  1,  1, -1, -1,  1,  1,  1,  1,  1,  1, -1, -1, -1,  1, -1,  1,
        1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1, -1, -1,
        1,  1, -1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1])

In [ ]:
invest_covidPe_lof['outlier'] = scores
print(invest_covidPe_lof.head())

   data_hora  tipo_favorecido municipio  acao_orcamentaria      gastos  outlier
0 2020-03-10                1         8                  1    60000.00       -1
1 2020-04-10                1         3                  1  1174944.27        1
2 2020-04-10                1         7                  1  4130446.89        1
3 2020-04-10                1         5                  1  3830136.03        1
4 2020-04-10                1         2                  1  3662675.00        1

In [ ]:
invest_covidPe_lof[invest_covidPe_lof['outlier'] == -1]

     data_hora  tipo_favorecido  ...       gastos  outlier
0   2020-03-10                1  ...     60000.00       -1
6   2020-04-10                1  ...  22986081.76       -1
17  2020-05-10                1  ...  20266709.47       -1
35  2020-07-10                1  ...  16162408.00       -1
48  2020-08-10                1  ...  30578797.00       -1
55  2020-09-10                1  ...  29940189.53       -1
56  2020-09-10                1  ...  16156268.66       -1
57  2020-10-10                1  ...    400000.00       -1
58  2020-10-10                1  ...   3500000.00       -1
59  2020-10-10                1  ...   1880000.00       -1
60  2020-10-10                1  ...    600000.00       -1
157 2020-11-10                1  ...   1153273.00       -1
220 2020-11-10                0  ...   8716731.90       -1
279 2020-11-10                1  ...   5943271.00       -1
384 2020-12-10                1  ...   1615672.25       -1
397 2020-12-10                1  ...   5196578.75       -1
438 2020-12-10                1  ...   2135901.00       -1
485 2020-12-10                1  ...   1016127.00       -1
533 2020-12-10                1  ...   3084001.00       -1
557 2020-12-10                1  ...    696168.00       -1
571 2020-10-10                1  ...    400000.00       -1
576 2020-12-10                1  ...   3084001.00       -1
581 2020-12-10                1  ...   1016127.00       -1
584 2020-07-10                1  ...  16162408.00       -1
595 2020-03-10                1  ...     60000.00       -1
599 2020-08-10                1  ...  30578797.00       -1
601 2020-11-10                0  ...   8716731.90       -1
605 2020-04-10                1  ...  22986081.76       -1
606 2020-11-10                1  ...   1153273.00       -1
607 2020-12-10                1  ...    952624.00       -1
612 2020-12-10                1  ...   2135901.00       -1
616 2020-09-10                1  ...  16156268.66       -1
635 2020-12-10                1  ...    697786.00       -1
637 2020-12-10                1  ...   1615672.25       -1
649 2020-05-10                1  ...  20266709.47       -1
651 2020-11-10                1  ...   5943271.00       -1
653 2020-12-10                1  ...     17375.00       -1
655 2020-10-10                1  ...    600000.00       -1
662 2020-12-10                1  ...   5196578.75       -1
677 2020-10-10                1  ...   1880000.00       -1
682 2020-09-10                1  ...  29940189.53       -1
684 2020-12-10                1  ...    696168.00       -1
688 2020-11-10                1  ...    101405.00       -1
697 2020-10-10                1  ...   3500000.00       -1

[44 rows x 6 columns]

In [ ]:
invest_covidPe_lof = invest_covidPe_lof[invest_covidPe_lof['outlier'] != -1]
len(invest_covidPe_lof)

105

# Projeto 2

1. Escolher uma	das	colunas	dos	dados	utilizados	no	projeto 1	para predição	(classificação ou regressão)	
  * Classificação : Rótulos são categorias discretas
  * Regressão: rótulos são valores contínuos
2. Separar os	dados	em treinamento,	validação	e	teste
3. Selecionar	4	algoritmos	de	acordo	com	a	tarefa escolhida
no	passo	1	

 **Algoritmos de classificação:**

* Scikit-Learn's Estimator API
  - Vários algoritmos implementados
  - Uniformidade
  - Modelos para algoritmo Supervisionado: função predict e Não-supervisionado: função transform ou predict
* Random Forest 
  - Vários estimadores combinados para evitar overfitting
  - Não assume distribuição gaussiana, obtém ótimos resultados

* Algoritmo de construção  
  - Execução rápida, lida bem com dados ausentes
  - Mostra a importância das features na classificação
  

**Medidas para avaliação da qualidade do modelo:**
Os valores de erro são dados em '%'

* Viés = Erro no treinamento - Erro Alvo (Desempenho no conjunto de treinamento)
* Variância = Erro no teste - Erro no treinamento


Possíveis cenários de viés e Variância

Overfitting:
  - Bom desempenho somente no conjunto de treinamento.
  - Apresenta problemas para generalizar
  - Ex : Erro no treinamento: 1%, Erro no teste: 11% (Baixo viés, Alta variância)
  - Para melhorar o desempenho : Adicionar mais dados ao conjunto de treinamento, diminuir a complexidade do modelo, selecionar melhor as features.

Underfitting:
  - Não modela bem o conjunto de treinamento, problemas em generalizar
  - Ex: Erro no treinamento 15%, Erro no teste: 16% (ALto viés, Baixa variância)
 - Para melhorar o desempenho : Aumentar a complexidade, adicionar mais features.

Caso ideal:
  - Erro no treinamento: 0.5%, Erro no teste: 1%